{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <style>
        .grid{
            height: 100%;
        }

    </style>
<div class="ui grid middle aligned">
    <div class="row">
        <div class="column">
    <div class="ui raised very padded text container segment ">

            <form class="ui large form middle aligned content" method="post">
                {% if error %}
                    <div class="ui error message">
                        <div class="header">Action Forbidden</div>
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    </div>
                {% endif %}

                {% if app.user %}
                    <div>
                        You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                    </div>
                {% endif %}

                <h2 class="ui header">Sign In</h2>
                <div class="field">

                    <label for="inputEmail">Email</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control"
                           required autofocus>
                </div>
                <div class="field">

                    <label for="inputPassword">Password</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" required>

                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >
                </div>


                <button class="ui button" type="submit">
                    Sign in
                </button>

            </form>
        </div>
        </div>
    </div>
    </div>
{% endblock %}
